body{
  font-family: $font_style;
}

.ana__content{
  width: 70%;
  margin-left: 5%;
  a{
    text-decoration: none;
    color: $color_ascent;
    &:hover{
      text-decoration: underline;
    }
  }
}

.ana__title{
  text-decoration: none;
  color: $color_ascent;
}

.ana__contact{
  margin-top: 50px;
}
